<%- include('partials/header'); %>
<p hidden id="type"><%= action %></p>
<h1 class="message"><%=message%></h1>
<div class="nameBox form-group group hide">
  <h1 class="nameBox hide">What is your name?</h1>
  <input type="text" class="nameBox nameInput form-control hide" name="nameInput" id="nameInput" value="" placeholder="Enter your name">
  <button type="button" class="nameBox submitBtn btn btn-primary btn-lg hide" id="nameSubmitButton" name="nameSubmitButton">Submit</button>
</div>
<div class="questionBox group hide">
  <h1 id="question" class="questionBox question hide"></h1>
  <button type="button" class="btn btn-primary btn-lg btn-block questionBox hide" name="1" id="1"></button>
  <button type="button" class="btn btn-danger btn-lg btn-block questionBox hide" name="2" id="2"></button>
  <button type="button" class="btn btn-success btn-lg btn-block questionBox hide" name="3" id="3"></button>
  <button type="button" class="btn btn-warning btn-lg btn-block questionBox hide" name="4" id="4"></button>
</div>
<form id="answersForm" action="" method="post">
  <input type="hidden" id="answers" name="answers" value="">
  <input type="hidden" id="friendsResult" name="friendsResult" value=<%= friendsResult %>>
  <input type="hidden" id="name" name="name" value="">
</form>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="/js/quiz.js" charset="utf-8"></script>
<%- include('partials/footer'); %>
